@import url(navbar.css);
@import url(index.css);
@import url(createGroup.css);
@import url(signUp.css);
@import url(createUser.css);

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
}

main {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
    width: 100%;
}