@import url(navbar.css);
@import url(signUp.css);
@import url(createUser.css);
@import url(accueil.css);
@import url(newGroup.css);
@import url(signIn.css);
@import url(groupPage.css);
@import url(message.css);

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
