@import url(navbar.css);
@import url(signUp.css);
@import url(createUser.css);
@import url(accueil.css);
@import url(newGroup.css);
@import url(signIn.css);
@import url(groupPage.css);
@import url(message.css);
@import url(searchGroup.css);
@import url(buttons.css);

html {
    font-family:'Poppins', sans-serif;
    background-color: lightgray;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

a {
    text-decoration: none;
    color: #fd676a;
}

a:visited {
    color: #fd676a;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    font-weight: 800;
}

.left {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.right {
    background-color: white;
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.center {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}