#feed {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#myGroups {
    background-color: white;
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

#myGroups ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#myGroups li {
    margin: 0;
    font-size: 13px;
    text-align: center;
    margin-bottom: 3px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: #fd676a;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

