
.greyBtn {
    border: none;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.greyBtn:hover {
    border: none;
    background-color: #fd676a;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.redBtn {
    border: 2px solid #fd676a;
    background-color: white;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.redBtn:hover {
    background-color: #fd676a;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
