#groupHeader {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

#groupHeader img {
    aspect-ratio: 1/1;
    height: 80px;
    border-radius: 100%;
}

#groupHeader div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#groupHeader div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#groupHeader div h3 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

#groupHeader div h5 {
    margin: 0;
    text-align: center;
    font-weight: 100;
}


#groupHeader p {
    text-align: justify;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

#groupHeader div span {
    background-color: #fd676a;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
}

#groupProfile ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#groupProfile h3 {
    margin: 0;
}

#newmessage {
    margin-bottom: 20px;
}