
h1 {
    text-align: center;
}

#feed {
    display: block;
    border: 1px solid black;
    width: 68%;
    height: 100%;
}

#myGroups {
    display: block;
    border: 1px solid black;
    width: 30%;
    height: 100%;
}