.message {
    border: 1px solid black;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.messageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(183, 183, 183);
}

.messageHeader p {
    margin: 0;
}

.message p {
    font-size: 13px;
    text-align: justify;
    margin: 0;
}

.messageHeader a {
    text-decoration: none;
    color: #fd676a;
}

.messageHeader a:visited {
    color: #fd676a;
}

