.message {
    border: 1px solid black;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#newmessage {
    border: 2px solid #fd676a;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    width: 200px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#newmessage:hover {
    background-color: #fd676a;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.messageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(183, 183, 183);
}

.messageHeader p {
    margin: 0;
}

.message p {
    font-size: 13px;
    text-align: justify;
    margin: 0;
}

.messageHeader a {
    text-decoration: none;
    color: rgb(183, 183, 183);
}

.messageHeader a:visited {
    color: rgb(183, 183, 183);
}

.messageHeader a:hover {
    color: #fd676a;
    text-decoration: none;
    font-weight: 600;
}