.message {
    /* border: 1px solid black; */
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.messageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(183, 183, 183);
}

.messageHeader p {
    margin: 0;
}

.message p {
    font-size: 13px;
    text-align: justify;
    margin: 0;
}

.messageHeader a {
    text-decoration: none;
    color: #fd676a;
}

.messageHeader a:visited {
    color: #fd676a;
}


.messageFooter a {
    font-size: 0.6em;
}