@import url(navbar.css);


#createFormGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    padding: 20px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

textarea {
    border: none;
    border-bottom: 1px solid black;
    width: 200px;
    padding: 10px;
}

textarea::placeholder {
    color:#808080;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea:focus {
    outline:none;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}

.checkbox {
    display: flex;
    flex-direction: row;
}

.checkbox label {
    font-size: 15px;
}

.checkbox input {
    width: 15px;
    height: 15px;
}

.containmap {
    width: 300px;
    height: 300px;
}

#map {
    width: 500px;
    height: 500px;
    border: 2px solid red;
}

.geocoder-control-suggestion{
    width: 2000px;
}