#createForm {
    display: block;
    width: 100%;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 200px;
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
}

input::placeholder {
    color:#808080;
    text-align: center;
}

input:focus {
    outline:none;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=submit] {
    margin-top: 20px;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    background-color:  #fd676a;
    color: white;
    text-transform: uppercase;
    font-size: larger;
}

input[type=submit]:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#map {
    width: 500px;
    height: 500px;
    border: 2px solid red;
}

.geocoder-control-suggestion{
    width: 30px;
}

